################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/Senparc.CO2NET/v15
/src/BuildOutPut
/src/.vs/Senparc.CO2NET/DesignTimeBuild/.dtbcache
/src/Senparc.CO2NET.Cache.Memcached/packages
/src/Senparc.CO2NET.Cache.Redis/packages
bin/
obj/
.vs/
bin/*
obj/*
/BuildOutPut
/src/Senparc.CO2NET.Tests/App_Data/SenparcTraceLog/*.log
/src/Senparc.CO2NET.Tests/TestEntities/download-*.jpg
/Sample/packages
/Sample/Senparc.CO2NET.Sample.net45/App_Data/SenparcTraceLog
/Sample/Senparc.CO2NET.Sample.netcore/App_Data/SenparcTraceLog
*.user
/src/Senparc.Weixin.Tests/App_Data/SenparcTraceLog
/src/Senparc.CO2NET.Cache.Redis.Tests/App_Data/SenparcTraceLog/*
/src/Senparc.CO2NET.APM.Tests/App_Data/SenparcTraceLog/*.log
/Sample/Senparc.CO2NET.Sample.netcore/Properties/PublishProfiles/FolderProfile.pubxml
/Sample/Senparc.CO2NET.Sample.netcore3/App_Data/SenparcTraceLog/*
/src/ProjectFileManager
/src/Senparc.CO2NET.Cache.CsRedis/packages
/src/Senparc.CO2NET.Cache.CsRedis/Properties/AssemblyInfo.cs
/src/Senparc.CO2NET.Cache.Redis.Tests - Copy/App_Data/SenparcTraceLog
/src/Senparc.CO2NET.Cache.CsRedis.Tests/App_Data/SenparcTraceLog/*
