################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/Senparc.CO2NET/v15
/src/Senparc.CO2NET/bin/Debug
/src/Senparc.CO2NET/obj
