################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/Senparc.CO2NET/v15
/src/Senparc.CO2NET/bin/Debug
/src/Senparc.CO2NET/obj
/src/BuildOutPut
/src/.vs/Senparc.CO2NET/DesignTimeBuild/.dtbcache
/src/Senparc.CO2NET.Tests/obj
/src/Senparc.CO2NET.Cache.Memcached/.vs/Senparc.Weixin.Cache.Memcached/v15
/src/Senparc.CO2NET.Cache.Memcached/bin/Debug
/src/Senparc.CO2NET.Cache.Memcached/obj
/src/Senparc.CO2NET.Cache.Memcached/packages
/src/Senparc.CO2NET.Cache.Redis/.vs/Senparc.Weixin.Cache.Redis/v15
/src/Senparc.CO2NET.Cache.Redis/bin/Debug
/src/Senparc.CO2NET.Cache.Redis/obj
/src/Senparc.CO2NET.Cache.Redis/packages
/src/Senparc.CO2NET.Tests/bin/Debug/netcoreapp2.1
/src/Senparc.CO2NET/bin/Test
/src/Senparc.CO2NET.Cache.Redis/bin/Test
bin/*
obj/*
/src/Senparc.CO2NET.Cache.Redis.Tests/obj
/src/Senparc.CO2NET.Cache.Redis.Tests/bin/Test/netcoreapp2.1
/src/Senparc.CO2NET.Cache.Memcached/bin/Test
/src/Senparc.CO2NET.Tests/bin/Test/netcoreapp2.1
/BuildOutPut
/src/Senparc.CO2NET.Cache.Redis.Tests/bin/Release/netcoreapp2.1
/src/Senparc.CO2NET.Tests/bin/Release/netcoreapp2.1
/src/Senparc.CO2NET.Tests/App_Data/SenparcTraceLog/*.log
/src/Senparc.CO2NET.Tests/TestEntities/download-*.jpg
/Sample/.vs/Senparc.CO2NET.Sample/v15
/Sample/Senparc.CO2NET.Sample.netcore/obj
/Sample/Senparc.CO2NET.Sample.netcore/bin/Debug/netcoreapp2.1
/Sample/.vs/config
/Sample/packages
/Sample/Senparc.CO2NET.Sample.net45/bin
/Sample/Senparc.CO2NET.Sample.net45/obj/Debug
/Sample/Senparc.CO2NET.Sample.net45/App_Data/SenparcTraceLog
/Sample/Senparc.CO2NET.Sample.netcore/App_Data/SenparcTraceLog
